body{

  margin: 0%;
  font-family: sans-serif;
}

#page-heading{

    text-align: center; 
    color: grey;
    margin-top: 20px;
}

/* design main div */
#contact-list-container{

    
    list-style-type: none;
   align-items: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}




.contact{

    padding :3px 10px;
    box-direction: 1px solid white;
    background-color: black;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: white;
display: flex;

}
.contact .details
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

}

.contact .delete-btn{
    width: 10%;
}

.contact p{
    margin :5px 0;
}
.delete-btn{
    margin-left: 22px;
    padding-top: 4px;
    
}


#contact-form{

    margin-left: 6%;
}
#contact-form >input{

   width: 42%;
}
#contact-form >button{
padding-right: 12px;
}
